In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [6]:
df = pd.read_csv("hiring_linear_reg_multi_variable_data.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

<h1> Changes in the Code </h1>
1. importing math module <br>
2. variable floor_merdian is used to make merdian value into integer <br>
3. df["test_score(out of 10)"].median()  is a to get median using median() function<br>

In [11]:
import math 
floor_median =math.floor( df["test_score(out of 10)"].median())
floor_median

8

<h1> Changes in the Code </h1>
1.df['test_score(out of 10)']  is a series(column)that is selected<br>
2.fillna()  is a function used for filling the empty spaces in the series/column<br>
3.floor_merdian is used in the function to fill its value<br>

In [14]:

df['test_score(out of 10)'].fillna(floor_median)

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     8.0
7     7.0
Name: test_score(out of 10), dtype: float64

<h1> Code </h1>
the changes are now permanently implimented in the Dataframe using <b>df['test_score(out of 10)']</b><br><br>
<h>  note - This is the part of Cleaning Data <br>
Cleaning and Preprocesssing Data is very important </h>

In [29]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(floor_median)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        nan                    8.0                           9      50000
1        nan                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

Similarly cleaning the other Given Data

Installing word2number<br>
it converts word into integer

In [30]:
from word2number import w2n
import pandas as pd
import numpy as np

def safe_word_to_num(x):
    if pd.isna(x):
        return np.nan      # Keep NaN as it is
    return w2n.word_to_num(x)

df['experience'] = df['experience'].apply(safe_word_to_num)

ValueError: No valid number words found! Please enter a valid number word (eg. two million twenty three thousand and forty nine)

In [23]:
df['experience'].median()

TypeError: Cannot convert [nan nan 'five' 'two' 'seven' 'three' 'ten' 'eleven'] to numeric